<div class="container">
  <h1>Stupid coaching</h1>
  <p>Ask your coach</p>
    <div class="form-group">
      <form action="/answer" class="form-inline">
        <input type="text" name="message" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary" class="form-control">
      </form>
    </div>
</div>

