.container {
  height: 100vh;
  margin: 18px;
  padding: 15px;
}

.your-answer {
  background-color: #fffee4;
  margin-bottom: 20px;
}

.coach-answer {
  background-color: #fffee4;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 42px;
}
